<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a4c865">  <td>20/09/24 17:08:41</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.RegistationTest()[pri:0, instance:testcases.RegistrationTest@77a7cf58]">RegistationTest</td> 
  <td>main@593103894</td>   <td></td> </tr>
<tr bgcolor="62f5b9">  <td>20/09/24 17:08:31</td>   <td>-10056</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AcceptCookie.clickCookiebtn()[pri:0, instance:testcases.AcceptCookie@4d722ac9]">clickCookiebtn</td> 
  <td>main@593103894</td>   <td></td> </tr>
<tr bgcolor="ceb1df">  <td>20/09/24 17:08:23</td>   <td>-17351</td> <td title="&gt;&gt;Page.setUp()[pri:0, instance:testcases.AcceptCookie@4d722ac9]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@593103894</td>   <td></td> </tr>
</table>
