<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a8a6ae">  <td>20/11/03 18:04:09</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PhotobookClassicTest.PBClassicTest()[pri:0, instance:websitetestcases.PhotobookClassicTest@1698fc68]">PBClassicTest</td> 
  <td>main@348132918</td>   <td></td> </tr>
<tr bgcolor="e2a4b1">  <td>20/11/03 18:04:38</td>   <td>28403</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PrepareImagesTest.PrepareImageTesting()[pri:0, instance:editorTestCases.PrepareImagesTest@10c626be]">PrepareImageTesting</td> 
  <td>main@348132918</td>   <td></td> </tr>
<tr bgcolor="897c97">  <td>20/11/03 18:04:09</td>   <td>-452</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.RegistrationTesting(java.lang.String)[pri:0, instance:websitetestcases.RegistrationTest@75390459]">RegistrationTesting</td> 
  <td>main@348132918</td>   <td></td> </tr>
<tr bgcolor="9ae6bb">  <td>20/11/03 18:05:26</td>   <td>76403</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CheckOutTest.checkoutTesting()[pri:0, instance:websitetestcases.CheckOutTest@58359ebd]">checkoutTesting</td> 
  <td>main@348132918</td>   <td></td> </tr>
<tr bgcolor="aab8c6">  <td>20/11/03 18:04:08</td>   <td>-984</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AcceptCookieTest.clickCookiebtn()[pri:0, instance:websitetestcases.AcceptCookieTest@6941827a]">clickCookiebtn</td> 
  <td>main@348132918</td>   <td></td> </tr>
<tr bgcolor="b191ca">  <td>20/11/03 18:05:09</td>   <td>59931</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MyCartTest.myCartTesting(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:websitetestcases.MyCartTest@4c4d27c8]">myCartTesting</td> 
  <td>main@348132918</td>   <td></td> </tr>
<tr bgcolor="9e8083">  <td>20/11/03 18:04:42</td>   <td>32360</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OrderPBTest.orderPBTesting()[pri:0, instance:editorTestCases.OrderPBTest@3e5499cc]">orderPBTesting</td> 
  <td>main@348132918</td>   <td></td> </tr>
<tr bgcolor="c799b1">  <td>20/11/03 18:03:59</td>   <td>-10035</td> <td title="&gt;&gt;Page.setUp()[pri:0, instance:websitetestcases.ForgotPasswordTest@422c3c7a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@348132918</td>   <td></td> </tr>
<tr bgcolor="d1b9b3">  <td>20/11/03 18:04:14</td>   <td>4948</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ImageUploadTest.uploadImagesTest()[pri:0, instance:editorTestCases.ImageUploadTest@163d04ff]">uploadImagesTest</td> 
  <td>main@348132918</td>   <td></td> </tr>
</table>
